extends template.jade

block title
	title Hollywood

block content
	<div class="service-page">
		<h3 class="service-page__title">О клинике</h3>

		<ul class="about-cols">
			<li>
				<p>
					|Мы работаем для вас с понедельника по пятницу с 10 утра до 18 вечера.
				</p>
			</li>
			<li>
				<p>
					<b>Наши контакты:</b><br>
					<b>Телефон:</b> +7 (383) 291 06 28<br>
					<b>Email:</b> <a href="mailto:angellaas@mail.ru">angellaas@mail.ru</a>
				</p>
			</li>
			<li>
				<p>
					|ООО «ААстудио» <br>
					<span class="address">г. Новосибирск, ул Кавалерийская, д. 9</span><br>
					|ИНН 5402530350, КПП 540201001<br>
					|ОГРН 1105476061261<br><br>
					<b>Директор:</b> Аас Анжелла Анатольевна
				</p>
			</li>
		</ul>

		<div class="about-map">
			<div class="about-map__inner" id="hw-map-area" data-coords="55.0302,82.9204"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=3YlweBjBzHhJDATTPDibaBWge3NuPKup&width=100%&height=100%&lang=ru_RU&sourceType=constructor&scroll=true"></script></div>
		</div>

		<h4 class="service-page__title service-page__title_small">
			|Мы всегда рады видеть вас в нашей клинике
		</h4>

		<div class="about-images">
			<div class="about-images__unit"><img src="./assets/img/about-img-01.jpg" alt=""></div>
			<div class="about-images__unit about-images__unit_50"><img src="./assets/img/about-img-03.jpg" alt=""></div>
			<div class="about-images__unit"><img src="./assets/img/about-img-02.jpg" alt=""></div>
			<div class="about-images__unit"><img src="./assets/img/about-img-04.jpg" alt=""></div>
			<div class="about-images__unit about-images__unit_50"><img src="./assets/img/about-img-05.jpg" alt=""></div>
			<div class="about-images__unit"><img src="./assets/img/about-img-07.jpg" alt=""></div>
			<div class="about-images__unit"><img src="./assets/img/about-img-06.jpg" alt=""></div>
			
		</div>
	</div>
