extends template.jade
block variables
	- var service = 'hw-menu__item_active';

block title
	title Hollywood - Пластика носа

block content

	<div class="hw-content-header hw-content-header_03" style="background-image: url(./assets/img/content-header-nos.jpg);">
		<h3>Пластика носа</h3>
	</div>

	<div class="hw-content-top">
		<img src="./assets/img/content-top-nos.jpg" alt="">
		<div class="hw-content-top__text">
			<p>
				|Пластика носа (Ринопластика) — это пластическая операция, с помощью которой можно выполнить коррекцию носа: например, изменить его форму, убрать горбинку, сделать нос короче, или наоборот длиннее, сузить ноздри, изменить кончик носа и т.д. Ринопластика позволяет улучшить пропорции лица и создать дополнительный акцент на глаза, губы, подбородок, сделать лицо более женственным или мужественным. Главная задача пластического хирурга — придать носу естественный и эстетичный вид, гармонирующий со всеми чертами лица. Исправление формы носа — популярная и востребованная пластическая операция, как среди женщин, так и мужчин.
 
			</p>

			<p>
				|Часто эстетические недостатки носа сочетаются с нарушением носового дыхания. Мы проводим тщательное предоперационное обследование, и при наличии проблем, связанных с нарушением носового дыхания, одновременно с эстетической ринопластикой решаем эту проблему совместно с ЛОР-врачом. Операция, которая позволяет не только устранить искривление носовой перегородки, но и исправить внешние эстетические недостатки формы носа, называется риносептопластикой.
			</p>
		</div>
	</div>

	<div class="hw-results">
		<h4>Результаты операций</h4>
		<div class="hw-results__carousel results-carousel">
			<div class="results-carousel__area">

				<div class="results-carousel__slide">
					<div class="results-carousel__unit">
						<div class="results-carousel__unit-content">
							<img src="./assets/img/results-nos-before.jpg" alt="">
							<span>До операции</span>
						</div>
					</div>
					<div class="results-carousel__unit">
						<div class="results-carousel__unit-content">
							<img src="./assets/img/results-nos-after.jpg" alt="">
							<span>После операции</span>
						</div>
					</div>
				</div>

				<div class="results-carousel__slide">
					<div class="results-carousel__unit">
						<div class="results-carousel__unit-content">
							<img src="./assets/img/results-nos-02-before.jpg" alt="">
							<span>До операции</span>
						</div>
					</div>
					<div class="results-carousel__unit">
						<div class="results-carousel__unit-content">
							<img src="./assets/img/results-nos-02-after.jpg" alt="">
							<span>После операции</span>
						</div>
					</div>
				</div>

				<div class="results-carousel__slide">
					<div class="results-carousel__unit">
						<div class="results-carousel__unit-content">
							<img src="./assets/img/results-nos-03-before.jpg" alt="">
							<span>До операции</span>
						</div>
					</div>
					<div class="results-carousel__unit">
						<div class="results-carousel__unit-content">
							<img src="./assets/img/results-nos-03-after.jpg" alt="">
							<span>После операции</span>
						</div>
					</div>
				</div>

			</div>
			<button class="results-carousel__arrow results-carousel__arrow_prev"></button>
			<button class="results-carousel__arrow results-carousel__arrow_next"></button>
		</div>
	</div>

	<div class="hw-content-text">
		<div class="hw-content-text__inner">
			<h4>Послеоперационный период</h4>
			<p>
				|Средняя продолжительность реабилитации после коррекции формы носа составляет 10-14 дней – это период, после которого пациент возвращается к обычной жизни, но окончательно формирование носа происходит лишь к исходу 6-8 месяца.
			</p>
			<p>
				|Для уменьшения отека после пластики носа применяют мази, медикаментозные препараты, реабилитационные процедуры (Физиотерапия).
			</p>
		</div>
	</div>

	<div class="hw-analysis">
		<div class="hw-analysis__text">
			<h5>Необходимые анализы</h5>
			<ul>
				<li>
					<p>Общий анализ крови с гемосиндромом (время свертывания, длительность кровотечения, тромбоциты)</p>
				</li>
				<li>
					<p>Общий анализ мочи</p>
				</li>
				<li>
					<p>
						||Биохимический анализ крови (общий белок, билирубин, мочевина, сахар крови, АЛТ, АСТ, гематокрит, АПТВ, фибриноген, амилаза, натрий, калий) 
					</p>
				</li>
				<li>
					<p>Группа крови, резус фактор</p>
				</li>
				<li>
					<p>RW</p>
				</li>
				<li>
					<p>Маркеры гепатитов В и С</p>
				</li>
				<li>
					<p>Вич</p>
				</li>
				<li>
					<p>Флюорография или рентген органов грудкой клетки (не позднее 6 месяцев)</p>
				</li>
				<li>
					<p>ЭКГ с заключением врача — 1 мес.</p>
				</li>
				<li>
					<p>Рентген носа</p>
				</li>
			</ul>
			<p>
				<b>Срок действия анализов — 15 дней; гепатиты, ВИЧ  — 3 мес. ЭКГ — 1 мес.</b>
			</p>
		</div>
		<div class="hw-analysis__important">
			<p>
				|За 15 дней до операции отменяется прием аспиринсодержащих препаратов, биогенных стимуляторов.
			</p>
		</div>
	</div>

	<div class="hw-tabs">
		<div class="hw-tabs__inner">
			<div class="hw-tabs__buttons">
				//- <!-- <button type="button" class="hw-tabs__button hw-tabs__button_active">Ответы на вопросы</button> -->
				<button type="button" class="hw-tabs__button hw-tabs__button_active">Задать вопрос доктору</button>
			</div>
			<div class="hw-tabs__unit">
				<h5 class="hw-tabs__mobile-title">Ответы на вопросы</h5>
				<div class="hw-tabs__question">
					<h5>Елена</h5>
					<p>
						|У меня 6 размер груди. Хочу сделать операцию по уменьшению хотя бы до 3 размера. Подозреваю, что также потребуется и подтяжка груди. Получится ли в итоге добиться визуально красивого результата?
					</p>

					<div class="hw-tabs__answer">
						<h5>Ответ доктора</h5>
						<p>Конечно возможно, приходите на консультацию.</p>
					</div>
				</div>
				<div class="hw-tabs__question">
					<h5>Светлана</h5>
					<p>
						|Добрый день! Мне сделали маммопластику месяц назад. Изначально груди были разного размера, поэтому поставили импланты разные по объему. Сейчас грудь по-прежнему выглядит асимметричной. Мне неверно подобрали импланты или это отек? Есть шанс, что все придет в норму?
					</p>
					<div class="hw-tabs__answer">
						<h5>Ответ доктора</h5>
						<p>Если вам правильно подобрали имплантаты, то в конце концов все будет более ровнее. За более детальными вопросами вам лучше обратиться к своему доктору.</p>
					</div>
				</div>
				<div class="hw-tabs__question">
					<h5>Мария</h5>
					<p>
						|4 месяца назад делала маммопластику, сейчас я забеременела. Оперирующий хирург предупреждал меня, что в течении года после операции планировать беременность нежелательно. Чем сейчас все это мне грозит?
					</p>
					<div class="hw-tabs__answer">
						<h5>Ответ доктора</h5>
						<p>Если вам правильно подобрали имплантаты, то в конце концов все будет более ровнее. За более детальными вопросами вам лучше обратиться к своему доктору.</p>
					</div>
				</div>
			</div>
			<div class="hw-tabs__unit hw-tabs__unit_active">
				<h5 class="hw-tabs__mobile-title">Задать вопрос доктору</h5>
				<form action="./mailer.php" method="post" class="doctor-form">
					<div class="doctor-form__row">
						<input type="hidden" name="form-type" value="2">
						<input type="text" name="doctor-form-name" class="doctor-form__name" placeholder="Как вас зовут?" required data-parsley-errors-messages-disabled>
						<input type="text" name="doctor-form-email" placeholder="Ваш e-mail" required data-parsley-type="email" data-parsley-errors-messages-disabled>
					</div>
					<div class="doctor-form__row">
						<textarea name="doctor-form-message" id="doctor-form-message" placeholder="Ваш вопрос" required data-parsley-errors-messages-disabled></textarea>
					</div>
					<button type="submit" class="doctor-form__submit-button">Отправить</button>
				</form>
			</div>
		</div>
	</div>
