block variables
<!DOCTYPE html>
html(lang="en")
	include template/head.jade
body
	include template/header.jade

	include template/menu.jade

	block content

	include template/footer.jade

	include template/modal.jade

	include template/scripts.jade
