.hw-footer
	.hw-footer__inner
		h4.hw-footer__title
			a(href="/")
				span.hw-footer__logo Hollywood 
			span.hw-footer__text АМБУЛАТОРНЫЙ <br>МЕДИЦИНСКИЙ ЦЕНТР
		p.hw-footer__copy Copyright © Голливуд 2015  Все права защищены
		.hw-footer__contacts
			a(href="tel:+73832910628").hw-footer__phone +7 (383) 291 06 28  
			button.hw-footer__order-button(type="button") заказать звонок

.hw-attention Имеются противопоказания. Необходимо проконсультироваться с врачом.
