.hw-header
	.hw-header__inner
		h1.hw-header__title
			a(href="/")
				span.hw-header__logo Hollywood 
			span.hw-header__text Амбулаторный <br>медицинский центр
		.hw-header__contacts
			span.hw-header__phone +7 (383) 291 06 28
			button.hw-header__order-button(type="button") заказать звонок
		button.hw-header__mobile-menu(type="button")
